# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore VS Code settings
.vscode/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment files
.env
.venv

# Ignore iob files
*.iob